{% load staticfiles bulma_tags %}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Noruh - Recuperar senha</title>
    <link href="{% static 'dashboard-ui/noruh-dashboard.css' %}" rel="stylesheet">
  </head>

  <body class="page-login">
    <div class="container">
    <h2 class="title is-2" style="text-align: center">Redefinir senha</h1>
    {% if validlink %}
      <form method="post">
        {% csrf_token %}
        {{ form|bulma }}
        <button type="submit" class="button is-fullwidth is-medium is-primary">Atualizar senha</button>
      </form>
    {% else %}
      <div class="notification is-warning">
        O link para redefinir senha não é válido, possivelmente já foi utilizado. 
        Por favor, solicite uma nova  <a href="{% url 'password_reset' %}"> redefinição de senha </a>.
      </div>
    {% endif %}
    </div>
  </body>
</html>