{% load staticfiles bulma_tags %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Noruh - Senha Alterada</title>
  <link href="{% static 'dashboard-ui/noruh-dashboard.css' %}" rel="stylesheet">
</head>

<body class="page-login">
  <div class="page-login__background">
  </div>
  <div class="page-login__content">
    <h2 class="title is-2" style="text-align: center">Senha Alterada</h1>
    <div class="notification is-success">
      Sua senha foi alterada com sucesso
    </div>
    <p>Voltar para o <a href="{% url 'register:home' %}"><b>inicio</b></a></p>
  </div>
</body>

</html>