{% extends 'base.html' %}
{% load bulma_tags %}

{% block nav-top %}{% endblock %}


{% block body %}


<section>
  <div class="column is-10 is-offset-1">
      <h1 class="is-size-3 has-text-primary has-magb-2">Redefinir Senha</h1>
      <div class="column is-10 box">
        <form method="post">
          {% csrf_token %}
          {{ form | bulma}}
          <button type="submit" class="button is-primary has-magt-2 is-complete">Redefinir</button>
        </form>
      </div>
  </div>



{% endblock %}