{% load staticfiles bulma_tags %}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Noruh - Recuperar senha</title>
    <link href="{% static 'dashboard-ui/noruh-dashboard.css' %}" rel="stylesheet">
  </head>

  <body class="page-login">
    <div class="page-login__background">
    </div>
    <div class="page-login__content">
    <h2 class="title is-2" style="text-align: center">Redefinir senha</h1>
    <p>Informe seu email e enviaremos instruções de recuperação.</p>

    <form method="POST">
      {% csrf_token %}
      {{ form|bulma }}
      <button type="submit" class="button is-fullwidth is-medium is-primary">Enviar</button>
    </form>
    <p>Voltar para o <a href="{% url 'login' %}"><b>login</b></a></p>
    </div>
  </body>

</html>