{% extends 'establishment_config_sub_base.html' %}

{% block title %}Fotos{% endblock title %}

{% block buttons %}
    <button class="button is-outlined is-primary">Salvar</button>
{% endblock buttons %}

{% block content %}
    <div class="media">
        <div class="media-content">
            <div class="columns is-multiline is-centered">
                <div class="column is-one-third">
                    <figure class="image is-2by1"><img src="https://via.placeholder.com/128" alt=""></figure>
                </div>
                <div class="column is-one-third">
                    <figure class="image is-2by1"><img src="https://via.placeholder.com/128" alt=""></figure>
                </div>
                <div class="column is-one-third">
                    <figure class="image is-2by1"><img src="https://via.placeholder.com/128" alt=""></figure>
                </div>
                <div class="column is-one-third">
                    <figure class="image is-2by1"><img src="https://via.placeholder.com/128" alt=""></figure>
                </div>
                <div class="column is-one-third">
                    <figure class="image is-2by1"><img src="https://via.placeholder.com/128" alt=""></figure>
                </div>
                <div class="column is-one-third">
                    <figure class="image is-2by1"><img src="https://via.placeholder.com/128" alt=""></figure>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}