{% extends 'establishment_config_sub_base.html' %}

{% block title %}Comodidades{% endblock title %}

{% block buttons %}
    <button class="button is-primary is-outlined">Salvar</button>
{% endblock buttons %}

{% block content %}
    <div class="media">
        <div class="media-left">
            <span class="icon is-medium"><i class="fas fa-lg fa-wifi"></i></span>  Wifi
        </div>
        <div class="media-content"></div>
        <div class="media-right">
            <div class="field">
                <div class="control">
                    <input type="checkbox">
                </div>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <span class="icon is-medium"><i class="fas fa-lg fa-car-side"></i></span> Estacionamento
        </div>
        <div class="media-content"></div>
        <div class="media-right">
            <div class="field">
                <div class="control">
                    <input type="checkbox">
                </div>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <span class="icon is-medium"><i class="fas fa-lg fa-snowflake"></i></span> Climatizado
        </div>
        <div class="media-content"></div>
        <div class="media-right">
            <div class="field">
                <div class="control">
                    <input type="checkbox">
                </div>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <span class="icon is-medium"><i class="fas fa-lg fa-shapes"></i></span> Espaco Kids
        </div>
        <div class="media-content"></div>
        <div class="media-right">
            <div class="field">
                <div class="control">
                    <input type="checkbox">
                </div>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <span class="icon is-medium"><i class="fas fa-lg fa-microphone-alt"></i></span> Show
        </div>
        <div class="media-content"></div>
        <div class="media-right">
            <div class="field">
                <div class="control">
                    <input type="checkbox">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}