{% include 'head_base.html' %}

{% block nav-top %}{% endblock %}

{% load bulma_tags %}
{% load widget_tweaks %}
{% load static %}

<body class="bg-white">
    <section class="columns has-magtb-10">
        <div class="column is-three-fifths is-offset has-margin-auto">
            <div class="column is-7 has-margin-auto">
              <h1 class="is-size-3 has-text-centered has-magb-2">Redefinir Senha</h1>
              <form method="post">
                {% csrf_token %}
                <div class="field">
                    <div class="control">
                      <input type="password" placeholder="Nova senha" name="password1" class="input" required="" id="id_password1" aria-autocomplete="list"> 
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                      <input type="password" placeholder="Confirmar senha" name="password2" class="input" required="" id="id_password2">
                    </div>
                </div>   
                <button type="submit" class="button is-primary has-magt-2 is-complete">Redefinir senha</button>
            </form>
          </div>
        </div>
      </section>
</body>


</html>