{% load bulma_tags %}

{% block body %}
<section class="box" id="establishment_update_event">
        <h1 class="title is-4 has-text-primary has-text-weight-light">Atualizar Evento</h1>
        <form id="event_update_form" action="{% url 'register:events_update' establishment_event.id %}" method="POST">
                {% csrf_token %}
                {{ form|bulma }}
                <button type="submit" class="button is-primary has-magt-2 is-complete">Salvar</button>
        </form>
</section>
{% endblock %}