.items-ranking {
  &__avatar {
    $size: 3rem;

    position: relative;
    width: $size;
    height: $size;
    background: $grey;
    border-radius: ($size / 2);
    overflow: hidden;

    i,
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    i {
      z-index: 0;
      color: $grey-lighter;
      font-size: 1.5rem;
    }

    img {
      z-index: 1;
    }
  }
}
