.responsive-map {
  position: relative;

  &::before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
